<%= form_for(@style) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :people %><br />
    <%= f.text_field :people %>
  </div>
  <div class="field">
    <%= f.label :interior %><br />
    <%= f.text_field :interior %>
  </div>
  <div class="field">
    <%= f.label :exterior %><br />
    <%= f.text_field :exterior %>
  </div>
  <div class="field">
    <%= f.label :amenity %><br />
    <%= f.text_field :amenity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
