<%= form_for(@requirement_style) do |f| %>
  <% if @requirement_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement_style.errors.count, "error") %> prohibited this requirement_style from being saved:</h2>

      <ul>
      <% @requirement_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :style_id %><br />
    <%= f.number_field :style_id %>
  </div>
  <div class="field">
    <%= f.label :requirement_id %><br />
    <%= f.number_field :requirement_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
